    #nav-bar
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 250px;
        height:100%;
        position: relative;
    }
    li a{
        text-align:left;
        display:block;
        padding-top:5px;
        padding-bottom:5px;
        padding-left: 5%;
    }
    li a:hover
    {
        background-color:rgb(172, 165, 160);
    }

    body {
        background-color: #ded4cc;
        margin: 0;
        padding: 0;
    }
    
    .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #nav-bar {
        width: 300px; 
        background-color: #fdfdfd;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -250px; 
        transition: left 0.5s ease; 
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    }
    
    #nav-bar ul {
        list-style-type: none;
        padding: 0;
    }
    
    #nav-bar li {
        padding: 8px 0;
    }
    
    #nav-bar a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
    }
    
    #image-container {
        margin-left: 250px; 
        padding: 20px;
        width: calc(100% - 250px); 
        height: 100vh; 
    }
    
    #image-container img {
        width: 90%; 
        height: 100%;
        object-fit: cover; 
    }

    .logo {
        width: 250px;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 10%;
    }

    ul {
        list-style-type: none; 
        padding: 0;
    }
    li {
        display: flex; 
        align-items: center; 
        margin-bottom: 10px; 
    }
    li img {
        width: 30px; 
        height: 30px;
        margin-left: 10px; 
    }

    #hide-button {
        position: fixed;  
        left: 250px; 
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(172, 165, 160);
        color: white;
        padding: 25px 9px;
        border: none;
        cursor: pointer;
        z-index: 1000; 
        transition: left 0.5s ease, transform 0.5s ease; 
    }

    #hide-button:hover {
        background-color: #501c1c;
    }

    .info {
        color:#501c1c;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }